<ng-template #headerTitle>
  @if (codesetVersion()) {
  <div style="display: flex; align-items: center; gap: 10px; margin-right: 10px;">
    Code Set Version <span class="badge badge-primary">
      {{codesetVersion().version ? codesetVersion().version : 'In progress'}}
    </span>
    @if (codesetVersion().dateCommitted){
    <span style="font-size: 0.75em; color: gray; margin-left: 10px;"><fa-icon icon="calendar"></fa-icon> Committed On
      {{codesetVersion().dateCommitted | date}}</span>
    }
  </div>
  }
</ng-template>
<ng-template #headerControls>
  <div>
    <button class="btn btn-sm btn-dark" (click)="commitDialog()" *ngIf="!codesetVersion().dateCommitted"
      [disabled]="codesetVersion().codes.length === 0 || status().changed">
      <fa-icon icon="check"></fa-icon>
      Commit
    </button>
  </div>
</ng-template>

@if (codesetVersion()) {
<div *ngIf="codesetVersion().dateCommitted" style="margin-top: 10px; margin-bottom: 10px;">
  <app-input-copy type="text" [value]="versionURL" label="Version URL"></app-input-copy>
</div>

<app-codeset-table [codeSetVersion]="codesetVersion()" [selectedColumns]="selectedColumns" (changes)="update($event)"
  (importCSVEvent)="importCSV()" (exportCSVEvent)="exportCSV($event)"
  [viewOnly]="codesetVersion().dateCommitted != null"></app-codeset-table>
}

<!-- <div *ngIf="current()?.validation?.validated && !current()?.validation?.valid">
  <div class="alert alert-danger">
    You have invalid fields
  </div>
</div> -->
<!-- 
<form *ngIf="form() as fromValue" [formGroup]="fromValue">
  <div class="mb-3">
    <label for="label" class="form-label">Section Name</label>
    <input type="text" class="form-control" id="label" placeholder="Name" formControlName="label">
  </div>
  @for (field of fieldsList(); track $index) {
    <div class="mb-3">
      <button class="btn btn-sm btn-danger" style="margin-right: 10px;" (click)="removeField(field.key)">
        <fa-icon icon="minus"></fa-icon>
      </button>
      <label [for]="field.key" class="form-label">{{ field.label }}</label>
      <input type="text" class="form-control" [id]="field.key" [formControlName]="field.key">
    </div>
  }
</form> -->