<div style="height: 100%; width: 100%; padding: 3rem; background-color: white; overflow: scroll;">
  <div class="mb-3">
    <dam-alerts-container></dam-alerts-container>
  </div>
  <h2 style="text-align: center;">Reset Password</h2>
  <div class="mb-3" style="color: rgb(126, 126, 126); margin-top: 30px;">
    <span>Enter your email address and an email with a reset password link will be sent to you if an account is
      associated with your email address</span>
  </div>
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" name="email" placeholder="Email Address" id="email">
      <div class="mt-3 d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary btn-block">Send
          Reset Link</button>
      </div>

    </div>
  </form>
</div>