<dam-layout *ngIf="codeset$ | async as codeset">

  <ng-template #alerts>
    <dam-alerts-container></dam-alerts-container>
  </ng-template>

  <ng-template #titleBar>
    <div class="row">
      <h2 class="col-md-6 col-sm-12 flex">
        <fa-icon icon="file" style="margin-right: 10px;"></fa-icon>
        {{codeset.name}}
        <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: space-between;">
          @if (codeset.disableKeyProtection) {
          <p-badge value="API Access without API key" severity="danger" styleClass="block"></p-badge>
          }
          <fa-icon style="font-size: 20px;margin-left: 10px;" *ngIf="codeset.description"
            [pTooltip]="codeset.description" tooltipPosition="bottom" icon='info-circle'></fa-icon>
        </div>
      </h2>
      <div class="col-md-6 col-sm-12">
        <app-input-copy type="text" [value]="codeSetURL" label="URL"></app-input-copy>
      </div>
    </div>

  </ng-template>

  <ng-template #toolbar>
    <div>
      <dam-fullscreen-button></dam-fullscreen-button>
    </div>
    <div>
      <dam-reset-button></dam-reset-button>
      <dam-save-button></dam-save-button>
    </div>
  </ng-template>

  <ng-template #editorContent>
    <router-outlet></router-outlet>
  </ng-template>

  <ng-template #sideBar>
    <app-codeset-sidebar></app-codeset-sidebar>
  </ng-template>

  <ng-template #collapsedSideBar>
    <dam-side-bar-toggle></dam-side-bar-toggle>
  </ng-template>

</dam-layout>