<dam-layout *ngIf="entity$ | async as entity">

  <ng-template #alerts>
    <dam-alerts-container></dam-alerts-container>
  </ng-template>

  <ng-template #titleBar>
    <h2><fa-icon icon="file" style="margin-right: 10px;"></fa-icon>{{entity.label}}</h2>
  </ng-template>

  <ng-template #toolbar>
    <div>
      <dam-fullscreen-button></dam-fullscreen-button>
    </div>
    <div>
      <dam-reset-button></dam-reset-button>
      <dam-save-button></dam-save-button>
    </div>
  </ng-template>

  <ng-template #editorContent>
      <router-outlet></router-outlet>
  </ng-template>

  <ng-template #sideBar>
    <app-entity-sidebar [links]="entity.sections"></app-entity-sidebar>
  </ng-template>

  <ng-template #collapsedSideBar>
    <dam-side-bar-toggle></dam-side-bar-toggle>
  </ng-template>

</dam-layout>
