<h2 mat-dialog-title>Add Field</h2>
<mat-dialog-content>
  <form [formGroup]="form" >
    <div class="mb-3">
      <label for="label" class="form-label">Label</label>
      <input type="text" class="form-control" id="label" formControlName="label" required>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="required" formControlName="required">
      <label class="form-check-label" for="required">
        Required
      </label>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button (click)="cancel()" class="btn btn-sm btn-secondary" style="margin-right: 5px;">Cancel</button>
  <button (click)="submit()" [disabled]="form.invalid" class="btn btn-sm btn-success">Add</button>
</mat-dialog-actions>
